@import './base.css';

body {
  background: radial-gradient(circle at 10% 20%, rgba(62, 92, 255, 0.2), transparent 40%),
    radial-gradient(circle at 70% 0%, rgba(0, 255, 235, 0.15), transparent 35%),
    #050912;
}
